body{
    position: relative;
    background-color: var(--color-grey-2);
}
.footer-box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--rem50);
    border-top: 1px solid var(--opacity-grey-1);
    margin-top: var(--rem10);
}

.footer-box>p{
    font-size: var(--f-size-3);
}

.not-found-repos{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
    height: 63vh;
    padding: var(--rem23);
}
.not-found-repos>p{
    font-size: var(--rem10);
}
