.button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: var(--rem10);
    color: var(--color-grey-7);
    border-radius: var(--border-rds-1);
    border: none;
    cursor: pointer;
}

.header-button {
    background-color: var(--color-grey-3);
    border: 1px solid var(--color-grey-3);

}

.header-button:hover {
    background-color: var(--color-grey-2);
}

.button-brand {
    background-color: var(--color-brand-2);
}

.button-brand:hover, .button-brand:focus-within {
    background-color: var(--color-alert);
}

.card-button {
    background-color: var(--color-grey-3);
    padding: var(--rem05);
    border: 1px solid var(--color-grey-7);
    border-radius: var(--border-rds-2);
}

.card-button:hover, .card-button:focus-within  {
    background-color: var(--color-brand-2);
    border: 1px solid var(--color-brand-2);
}

.loading{
    animation: spinner 1s infinite linear;
}

@keyframes spinner {
    0% {
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}