header {
    display: flex;
    width: 100%;
    height: var(--rem125);
}

.navbar {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: var(--rem37) 0;
}

.user-info {
    display: flex;
    flex-direction: row;
    gap: var(--rem12);
}

.profile-descriptions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: var(--rem08);
}

.img-link{
    width: var(--rem50);
    height: var(--rem50);
    border-radius: var(--border-rds-0);
    background-color: var(--color-grey-7);
}

.profile-picture {
    width: var(--rem50);
    height: var(--rem50);
    border-radius: var(--border-rds-0);
    background-color: var(--color-grey-7);

}

.profile-title {
    color: var(--color-grey-7);
}

.profile-stack {
    color: var(--opacity-grey-2);
    height: var(--rem23);
    overflow: hidden;
    text-overflow: ellipsis;
}

.buttons-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: var(--rem08) ;
    height: var(--rem50);
}