.title-1-1 {
    font-weight: var(--f-weight-1);
    font-size: var(--f-size-1);
    line-height: var(--l-height-3);
}

.title-2-1 {
    font-weight: var(--f-weight-3);
    font-size: var(--f-size-2);
    line-height: var(--l-height-4);
}

.text-1-1 {
    font-weight: var(--f-weight-3);
    font-size: var(--f-size-3);
    line-height: var(--l-height-6);
}

.text-1-2 {
    font-weight: var(--f-weight-4);
    font-size: var(--f-size-4);
    line-height: var(--l-height-5);
    color: var(--opacity-grey-3);
}

.text-1-button {
    font-weight: var(--f-weight-2);
    font-size: var(--f-size-4);
    line-height: 0px;
}

.text-2-button {
    font-weight: var(--f-weight-3);
    font-size: var(--f-size-4);
    line-height: var(--l-height-6);
}

/* ////////////////////////////////// */

.title-1-2 {
    font-weight: var(--f-weight-2);
    font-size: var(--f-size-0);
    line-height: var(--l-height-1);
    color: var(--color-grey-7);
}

.title-2-2 {
    font-weight: var(--f-weight-3);
    font-size: var(--f-size-2);
    line-height: var(--l-height-2);
    color: var(--color-grey-7);

}

.text-2-2 {
    font-weight: var(--f-weight-4);
    font-size: var(--f-size-2);
    line-height: var(--l-height-2);
    color: var(--color-grey-7);

}

.text-2-2 {
    font-weight: var(--f-weight-3);
    font-size: var(--f-size-3);
    line-height: var(--l-height-4);
    color: var(--color-grey-7);

}

.text-3-2 {
    font-weight: var(--f-weight-3);
    font-size: var(--f-size-4);
    line-height: var(--l-height-5);
    color: var(--color-grey-7);
}